<html>
	<head>
		<meta charset="utf-8">
		<title>Что же это за цвет?</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Очень важный опрос</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="stats">Статистика</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="json">Данные</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="search">Поиск</a>
			</li>
			</ul>
		<span class="navbar-text">
			Социолингвистика, еее!
		</span>
		</div>
	</nav>
	<div class="container">
		<h2>Все полученные данные:</h2>
	</div>
	<div class="container">
		{{ j_data }}
	</div>
	</body>
</html>